.red-text {
  color: rgb(255, 0, 0);
}
.blue-text {
  color: rgb(0, 0, 255)
}
.white-text {
  color:white
}
.black-text{
  color:black
}
body {
    text-align: center;
    size: 100px;
    background-color:black
  }
h1 {
    color: rgb(0, 218, 247)
  }
p {
    color: rgb(255, 0, 0)
  }
